<% if flash[:success] %>
  <% if flash[:success] == 'Add product to wishlist successfully' %>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '584519498852272');
    fbq('track', 'AddToWishlist');
  <% end %>
  $('.alert').html('<p class="alert alert-success"><%= flash[:success] %></p>')
<% elsif flash[:success] %>
  $('.alert').html('<p class="alert alert-danger"><%= flash[:danger] %></p>')
<% end %>
<% flash.discard %>

$('.wishlist-render').html('<%= j(render('favorites/wishlist')) %>')
$('.icon-wishlist').html('<%= j(render('favorites/icon', total_products: @favorite.products.count)) %>')

if($(".wishlist-<%=@product.id%>").hasClass("js-addedwish-b2")){
  $(".wishlist-<%=@product.id%>").removeClass("js-addedwish-b2")
} else {
  $(".wishlist-<%=@product.id%>").addClass("js-addedwish-b2")
}

$('.js-show-wishlist').on('click',function(){
  $('.js-panel-wishlist').addClass('show-header-cart');
});

$('.js-hide-wishlist').on('click',function(){
  $('.js-panel-wishlist').removeClass('show-header-cart');
});