= form_for User.new, url: partners_path do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, I18n.t("user.email")
    .bor8.m-b-20.how-pos4-parent
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :password, I18n.t("user.password").upcase
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    .bor8.m-b-20.how-pos4-parent
      = f.password_field :password, autocomplete: "new-password", class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :password_confirmation, I18n.t("user.password_confirmation").upcase
    .bor8.m-b-20.how-pos4-parent
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :name, I18n.t("user.user_name")
    .bor8.m-b-20.how-pos4-parent
      = f.text_field :username, class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :phone, I18n.t("user.phone")
    .bor8.m-b-20.how-pos4-parent
      = f.text_field :phone, class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :address, I18n.t("user.address")
    .bor8.m-b-20.how-pos4-parent
      = f.text_field :address, class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .field
    = f.label :code, I18n.t("user.code")
    .bor8.m-b-20.how-pos4-parent
      = f.text_field :code, class: 'stext-111 cl2 plh3 size-116 p-l-20'
  .actions
    = f.submit I18n.t("user.signup_btn"), class: 'flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer'
