<div class="sec-banner bg0 p-t-80 p-b-50 main-page">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" rowspan="3"><%= I18n.t("partner.product") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.quantity") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.sold_product") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.revenue_sold") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.fee") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.revenue") %></th>
        <th scope="col" rowspan="3"><%= I18n.t("partner.inventory") %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
          <%= render "admin/product", product: p %>
      <% end %>
    </tbody>
  </table>
</div>