= content_for :title do
  Hợp Tác
/ Banner
.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    -# = render_breadcrumbs :separator => ' / '
    .alert
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}" unless key == 'pixel'
      .row
        .col-sm-12.col-lg-6
          %h1
            TRỞ THÀNH ĐỐI TÁC SẢN XUẤT CỦA LMCATION
          %br
          %p
            Trở thành Đối tác của LMcation để làm chủ cuộc sống của mình, được hỗ trợ đào
            tạo và nâng cao tay nghề, quảng bá sản phẩm, kiếm thêm thu nhập và hơn thế
            nữa.
          %p
            Hãy cùng nhau bắt đầu hành trình ngay nào.
          = link_to(I18n.t("user.signup"), partners_sign_up_path, class: "flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 partner-btn")
          %p.partner-sign-in
            Bạn đã đăng ký?
            = link_to(I18n.t("user.signin"), partners_sign_in_path)
        .col-sm-12.col-lg-6
          %img{:src => "#{cdn_url}/partner/doi_tac_LMcation.png", width: "100%"}
  .container.partner-container-2
    .row
      .col-sm-12.col-lg-4
        %div.reverse
          %img{src: "#{cdn_url}/partner/loi_ich.jpg", width: "100%"}
          %div
            %h3
              Lợi ích khi tham gia làm đối tác sản xuất LMcation:
            %br
            %ul{style: "margin-left: 30px;"}
              %li{style: "list-style-type: disc;"}
                Được tư vấn, hỗ trợ kỹ năng, nguồn nguyên liệu số lượng lớn... để nâng cao chất lượng sản phẩm.
              %li{style: "list-style-type: disc;"}
                Được hỗ trợ quảng bá sản phẩm và phân phối sản phẩm đến tay người tiêu dùng từ a đến z.
      .col-sm-12.col-lg-4
        %div.partner-box1.reverse
          %img{src: "#{cdn_url}/partner/dieu_kien.jpg", width: "100%"}
          %div
            %h3
              Điều kiện trở thành đối tác sản xuất LMcation:
            %br
            %ul{style: "margin-left: 30px;"}
              %li{style: "list-style-type: disc;"}
                Là đơn vị kinh doanh (xưởng, công ty, hợp tác xã,..) sản xuất các sản phẩm thời trang tại Việt Nam.
              %li{style: "list-style-type: disc;"}
                Tuân thủ theo chính sách bán hàng và toàn bộ quy trình bán hàng của LMcation.
              %li{style: "list-style-type: disc;"}
                Tuân thủ theo các điều khoản bảo mật thông tin và chống phá giá như ký kết giữa đôi bên.
      .col-sm-12.col-lg-4
        %div.partner-box2.reverse
          %img{src: "#{cdn_url}/partner/lien_he.jpg", width: "100%"}
          %div
            %h3
              Hỗ trợ nhanh chóng và liên tục
            %br
            %ul{style: "margin-left: 30px;"}
              %li{style: "list-style-type: disc;"}
                Vui lòng liên hệ
                %a{href: "mailto:order@lmcation.com"} order@lmcation.com
                để được giải đáp thắc mắc và thông tin chi tiết để trở thành đối tác sản xuất LMcation.
              %li{style: "list-style-type: disc;"}
                Email sẽ được phản hồi trong vòng 24-48 tiếng tất cả các ngày trong tuần.
  -# .container{style: "margin-top: 200px;"}
  -#   .policy
  -#     .col-md-12.col-xl-12.p-b-30.policy-box
  -#       %h4.ltext-107.txt-center
  -#         = I18n.t("jobs.work")
  -#       %br
  -#       - @jobs.each do |job|
  -#         .job-p
  -#           %h4.ltext-108
  -#             = link_to job_path(job.id), class: ".mtext-101 cl2 hov-cl1 trans-04" do
  -#               = job.title
  -#           %p.stext-108.cl6
  -#             = job.short_description
:css
  .partner-btn {
    margin: 100px 0 20px 0;
    width: 50%;
  }
  .partner-container-2 {
    margin-top: 100px
  }
  .partner-container-2 h3 {
    font-weight: 500; 
    padding-top: 100px;
  }
  .partner-box1 {
    padding-top: 50%
  }
  .partner-box2 {
    padding-top: 100%
  }
  @media (max-width: 575px) {
    .partner-btn {
      width: 100%;
      margin: 30px 0 20px 0;
    }
    .partner-sign-in {
      margin-bottom: 30px;
    }
    .partner-container-2 {
      margin-top: 20px
    }
    .partner-container-2 h3, {
      padding-top: 30px;
    }
    .partner-box1, .partner-box2 {
      padding-top: 10%
    }
    .reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    .reverse img {
      padding: 15px;
    }
  }