<tr>
  <td><%= render "admin/product_detail", product: product %></td>
  <td><%= product.total_products %></td>
  <td><%= product.quantity_sell %></td>
  <td><%= product.total_sell %></td>
  <td><%= product.fees_paid_sell %></td>
  <td><%= product.revenue_sell %></td>
  <td><%= product.inventory %></td>
</tr>