<tr>
  <td><%= render "admin/product_detail", product: product %></td>
  <td><%= product.total_products %></td>
  <td><%= product.quantity_sell %></td>
  <td><%= number_to_currency(product.total_sell, unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(product.fees_paid_sell, unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(product.revenue_sell, unit: "đ",  format: "%n %u") %></td>
  <td><%= product.inventory %></td>
</tr>