<tr>
  <% p = Product.find(product.product_id) %>
  <td><%= render "admin/product_detail", product: p if product.product_id.present? %></td>
  <td><%= product.total_products %></td>
  <td><%= p.quantity_sell %></td>
  <td><%= number_to_currency(p.total_sell, unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(p.fees_paid_sell(product.fee), unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(p.revenue_sell(product.fee), unit: "đ",  format: "%n %u") %></td>
  <td><%= product.inventory %></td>
</tr>