<tr>
  <td><%= render "admin/product_detail", product: product %></td>
  <td>6200</td>
  <td>1024</td>
  <td><%= number_to_currency(product.total_sell, unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(product.fees_paid_sell(current_partner_user&.commision), unit: "đ",  format: "%n %u") %></td>
  <td><%= number_to_currency(product.revenue_sell(current_partner_user&.commision), unit: "đ",  format: "%n %u") %></td>
  <td><%= product.inventory %></td>
</tr>