= content_for :title do
  Hợp Tác
/ Banner
.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    = render_breadcrumbs :separator => ' / '
    .alert
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}" unless key == 'pixel'
    .policy.partner
      .col-md-12.col-xl-10.p-b-30.m-lr-auto.policy-box
        %h4.ltext-107.txt-center
          = I18n.t "jobs.partner"
        %br
        = form_for(Partner.new) do |f|
          .bor8.m-b-20.how-pos4-parent
            = f.text_field :email, autofocus: true, class: 'stext-111 cl2 plh3 size-116 p-l-62 p-r-30', :name => "email", :placeholder =>I18n.t("jobs.partner_email"), :type => "text"
            = cl_image_tag 'https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-email.png', class: 'how-pos4 pointer-none'
          %center
            .col-sm-6
              = submit_tag I18n.t("jobs.partner_btn"), class: 'flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer'
  .container
    .policy
      .col-md-12.col-xl-12.p-b-30.policy-box
        %h4.ltext-107.txt-center
          = I18n.t("jobs.work")
        %br
        - @jobs.each do |job|
          .job-p
            %h4.ltext-108
              = link_to job_path(job.id), class: ".mtext-101 cl2 hov-cl1 trans-04" do
                = job.title
            %p.stext-108.cl6
              = job.short_description