- if true
  %div.fundiin-note
    = I18n.t("page.cart.fundiin_note_event")
    %br
    = I18n.t("page.cart.fundiin_note_event_1")
  %div.fundiin-note
    = I18n.t("page.cart.fundiin_note")
  %br
    %ul.m-l-15
      %li.p-l-15
        = I18n.t("page.cart.fundiin_note_1")
      %li.p-l-15
        = I18n.t("page.cart.fundiin_note_2")
- else
  %div.fundiin-note
    = I18n.t("page.cart.fundiin_note")
  %br
    %ul.m-l-15
      %li.p-l-15
        = I18n.t("page.cart.fundiin_note_1")
      %li.p-l-15
        = I18n.t("page.cart.fundiin_note_2")
