= form_for(@order) do |f|
  - flash.each do |key, value|
    = content_tag :div, value, class: "alert alert-#{key}" unless key == 'pixel'
  .flex-w.flex-sb-m.p-t-18.p-b-15.p-lr-40.p-lr-15-sm.left-info-cus
    = f.label :first_name, I18n.t("user.first_name"), class: 'col-sm-3 control-label'
    = f.text_field :first_name, autofocus: true, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.first_name || current_user.try(:first_name)
    = f.label :last_name, I18n.t("user.last_name"), class: 'col-sm-3 control-label'
    = f.text_field :last_name, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.last_name || current_user.try(:last_name)
    = f.label :email, I18n.t("user.email"), class: 'col-sm-3 control-label'
    = f.text_field :email, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.email || current_user.try(:email)
    = f.label :address, I18n.t("user.address"), class: 'col-sm-3 control-label'
    = f.text_field :address, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.address || current_user.try(:address)
    = f.label :district, I18n.t("user.district"), class: 'col-sm-3 control-label'
    = f.text_field :district, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.district || current_user.try(:district)
    = f.label :city, I18n.t("user.city"), class: 'col-sm-3 control-label'
    = f.text_field :city, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.city || current_user.try(:city)
    = f.label :phone, I18n.t("user.phone"), class: 'col-sm-3 control-label'
    = f.text_field :phone, required: true, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.phone || current_user.try(:phone)
    = f.label :note, I18n.t("user.note"), class: 'col-sm-3 control-label'
    = f.text_field :note, class: 'stext-111 cl2 plh3 size-126 input-txt', value: @order.note
    = f.hidden_field :id, { :value => @cart.code }
    = f.hidden_field :tracking, { :value => @order.tracking }
  -# payment methods
  .bor18
    = render "payment_methods", f: f
  .flex-w.flex-sb-m.p-t-18.p-b-15.p-lr-40.p-lr-15-sm.bor18
    .col-sm-3
    .col-sm-6
      = submit_tag I18n.t("page.cart.proceed_to_checkout"), class: 'flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer'
    .col-sm-3