.row.bor18
  = f.label :payment_method, I18n.t("order.payment_method"), class: 'control-label payment_method font-weight-bold col-12 p-t-10 p-b-10'
  .col-sm-10
    %div.row
      = f.radio_button :payment_method, 'COD', class: 'radio-payment col-1', checked: @order.payment_method.nil? || @order.payment_method == 'COD'
      %div.payment-image.col-2
        = image_tag "COD.png", class: "mr-auto payment-cod"
      = f.label :payment_method, I18n.t("page.cart.cod"), class: 'radio-payment-label ml-auto col-8 align-middle font-weight-bold', :value => 'COD'
    %div.row
      = f.radio_button :payment_method, 'Shopee pay', class: 'radio-payment col-1'
      %div.payment-image.col-2
        = image_tag "SPP.png", class: "mr-auto"
      = f.label :payment_method, I18n.t("page.cart.spp_btn"), class: 'radio-payment-label ml-auto col-8 align-middle font-weight-bold', :value => 'spp'
    %div.row
      = f.radio_button :payment_method, 'FUNDIIN', class: 'radio-payment col-1'
      %div.payment-image.col-2
        = image_tag "Fundiin.png", class: "mr-auto"
      = f.label :payment_method, I18n.t("page.cart.fundiin_btn"), class: 'radio-payment-label ml-auto col-8 align-middle font-weight-bold', :value => 'FUNDIIN'
    %div.fundiin-note
      = I18n.t("page.cart.fundiin_note")
      %br
        %ul.m-l-15
          %li.p-l-15
            = I18n.t("page.cart.fundiin_note_1")
          %li.p-l-15
            = I18n.t("page.cart.fundiin_note_2")
    %br
.row.bor18
  .col-3
  .col-6.m-t-15.m-b-15
    = submit_tag I18n.t("page.cart.proceed_to_checkout"), class: 'flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer'
  .col-3

:css
  .fundiin-note {
    padding-left: 11%;
  }
  .payment-image {
    width: 50px;
    float: left;
  }
  .payment-image img {
    width:inherit;
  }

  .fundiin-note {
    font-size: 12px;
  }

  .payment-method {
      padding-left: 40px;
      padding-right: 40px;
    }

  @media only screen and (max-width: 600px) {
    .fundiin-note {
      padding-left: 6%;
    }

    .payment-method {
      padding-left: 0px;
      padding-right: 0px;
    }
    .radio-payment-label{
      padding: 0px;
    }
    .payment-image {
      padding: 0px;
    }
    .radio-payment{
      margin-right: 0px;
    }
    .payment-cod{
      width: 90% !important;
    }
  }
