.m-lr-0-xl.bor5
  = form_for(@cart, method: :put) do |f|
    %table.table.table_head.m-b-0
      %thead
        %tr.text-center
          %th{:scope => "col", :colspan => "2", style:"text-align: center;"}
            = I18n.t("page.cart.product")
          %th{:scope => "col", style:"text-align: center;"}
            = I18n.t("page.cart.quantity")
          %th{:scope => "col", style:"text-align: center;"}
            = I18n.t("page.cart.total")
      %tbody
        - @cart.line_items.includes(:stock).each do |line_item|
          %tr
            %th{:scope => "row"}
              = link_to line_item, method: :delete, noindex: true, id: 'delete', data: { confirm: 'Are you sure you want to delete this line item?' }, class: 'delete-item' do
                .how-itemcart1
                  -# = cl_image_tag line_item.stock.product.product_images.first.url ? line_item.stock.product.product_images.first.url : line_item.stock.product.product_images.first.pimage
            %td
              = line_item.stock.product.title
              %br
              - if line_item.stock.product.promotion_price.present?
                .promotion-price
                  = "#{number_with_delimiter(line_item.stock.product.price.to_i, :delimiter => '.')} vnd"
                %b
                  = "#{number_with_delimiter(line_item.stock.product.promotion_price.to_i, :delimiter => '.')} vnd"
              - else
                = "#{number_with_delimiter(line_item.stock.product.price.to_i, :delimiter => '.')} vnd"
            %td
              = f.fields_for :line_items, line_item do |line|
                .wrap-num-product.flex-w{style: "margin: 0 auto;"}
                  .btn-num-product-down.cl8.hov-btn3.trans-04.flex-c-m
                    %i.fs-16.zmdi.zmdi-minus
                  = line.text_field :quantity, class: 'mtext-104 cl3 txt-center num-product'
                  .btn-num-product-up.cl8.hov-btn3.trans-04.flex-c-m
                    %i.fs-16.zmdi.zmdi-plus
              -# = f.number_field :line_items, :in => 0..100, :step => 1
            %td{style:"text-align: center;"}
              = "#{number_with_delimiter(line_item.total_price.to_i, :delimiter => '.')} VND"
        -# %tr.table_row
        -#   %td.column-1.column-voucher{style:"vertical-align: middle;"}
        -#     = f.label :voucher_code, I18n.t("page.cart.voucher"), class: 'control-label'
        -#   %td.column-2{:colspan => "2"}
        -#     = f.text_field :voucher_code, autofocus: true, class: 'stext-111 cl2 plh3 size-100 input-txt'
        -#   %td.col-1
        -#     = f.hidden_field :id, { :value => @cart.code }
        -#     = submit_tag I18n.t("page.cart.update_cart"), class: 'flex-c-m stext-101 cl2 size-119 bg8 hov-btn3 p-lr-15 trans-04 pointer'