.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    - if @cart.line_items.present?
      .bg0.p-t-15.p-b-85
        .row.justify-content-between
          .col-lg-7.col-xl-7.bor10
            = render "cart_info_new"      
          .col-lg-4.col-xl-4.bor10
            = render "total_price"
        .row
          .col-lg-7.col-xl-7.bor10
            = form_for(@order) do |f|
              = render "info_customer", f: f
              = render "payment_methods", f: f
