= content_for :title do
  = @category && @category.name ? @category.name : 'Danh mục sản phẩm'
- if @category
  .main-page.bg-img1.txt-center.p-tb-92.banner-bg
    = cl_image_tag @category.cate_banner_url, alt: "#{@category.name}", title: "#{@category.name}"
    %h1.ltext-105.cl0.txt-center.title
      = @category.name
    .mtext-105.cl0.txt-center.description
      = @category.description
.sec-banner.bg0.p-t-80.p-b-50{:class => (@category ? 'product-index' : 'main-page') }
  .container
    = render_breadcrumbs :separator => ' / '
    .alert
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}" unless key == 'pixel'
    .flex-w.flex-sb-m.p-b-52.products-container
      .panel-search.w-full.p-t-10.p-b-15
        = form_tag products_path, method: :get do
          .bor8.dis-flex.p-l-15
            %button.size-113.flex-c-m.fs-16.cl2.hov-cl1.trans-04
              %i.zmdi.zmdi-search
            = text_field_tag :q, nil, placeholder: I18n.t("search.input"), class: 'mtext-107 cl2 size-114 plh2 p-r-15', value: params[:q]
    - if @category || @check
      .row.isotope-grid
        - @products.each do |product|
          .col-6.col-sm-4.col-md-4.col-lg-3.p-b-35.isotope-item.women
            / Block2
            .block2
              - if product.stocks.empty? || product.out_of_stock?
                .block2-pic.oos
                  %span.stext-112.cl3.out-of-stock
                    = I18n.t("page.product.out_of_stock")
              .block2-pic.hov-img0.hov-change-img
                = link_to product_path(product.slug) do
                  = cl_image_tag product.product_images.first.try(:image_url), loading:"lazy", alt: "#{product.title}", title: "#{product.title}"
                  = cl_image_tag product.product_images.second.try(:image_url), class: 'img-top', loading:"lazy", alt: "#{product.title}", title: "#{product.title}"
              .block2-txt.flex-w.flex-t.p-t-14
                .block2-txt-child1.flex-col-l
                  = link_to product_path(product.slug), :"data-no-turbolink" => 'false', class: "stext-301 cl2 hov-cl1 trans-04 js-name-b2 p-b-6 title-product" do
                    = product.title
                  %span.mtext-102.cl3
                    - if product.promotion_price.present?
                      .promotion-price
                        = "#{number_with_delimiter(product.price.to_i, :delimiter => '.')} VND"
                      %b
                        = "#{number_with_delimiter(product.promotion_price.to_i, :delimiter => '.')} VND"
                    - else
                      = "#{number_with_delimiter(product.price.to_i, :delimiter => '.')} VND"
                  %span.stext-105.cl3
                    - count = product.stocks.map(&:color).uniq.count
                    - if count == 1
                      = I18n.t("page.product.single_colour")
                    - else
                      = I18n.t("page.product.other_colour_count", count: count)
                .block2-txt-child2.flex-r.p-t-3
                  - pro_ids = @favorite.try(:product_ids) || []
                  = link_to favorite_path(product.id), method: :put, remote: true,
                    class: "#{'js-addedwish-b2' if pro_ids.include?(product.id)} wishlist-#{product.id} btn-addwish-b2 dis-block pos-relative js-addwish-b2" do
                    = cl_image_tag "https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-heart-01.png", class: "icon-heart1 dis-block trans-04", alt: 'ICON', loading:"lazy"
                    = cl_image_tag "https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-heart-02.png", class: "icon-heart2 dis-block trans-04 ab-t-l", alt: 'ICON', loading:"lazy"
                - if product.has_promotion
                  .block2-txt-promo.flex-col-l.bor10
                    %span.mtext-103.cl3.promotion
                      = product.promotion
    - else
      - @products.each do |cats|
        .row.isotope-grid
          .col-sm-6.col-md-4.p-b-40
            %h3.mtext-111.cl2.p-b-16
              %b
                = cats['name']
        .row.isotope-grid
          - cats['products']&.each do |product|
            .col-6.col-sm-4.col-md-4.col-lg-3.p-b-35.isotope-item.women
              / Block2
              .block2
                - if product['stocks_count']&.to_i<1 || product['out_of_stock'] == 't'
                  .block2-pic.oos
                    %span.stext-112.cl3.out-of-stock
                      = I18n.t("page.product.out_of_stock")
                .block2-pic.hov-img0.hov-change-img
                  = link_to product_path(product['slug']) do
                    = cl_image_tag product['first_img_url'], loading:"lazy", alt: "#{product['title']}", title: "#{product['title']}"
                    = cl_image_tag product['second_img_url'], class: 'img-top', loading:"lazy", alt: "#{product['title']}", title: "#{product['title']}"
                .block2-txt.flex-w.flex-t.p-t-14
                  .block2-txt-child1.flex-col-l
                    = link_to product_path(product['slug']), :"data-no-turbolink" => 'false', class: "stext-301 cl2 hov-cl1 trans-04 js-name-b2 p-b-6 title-product" do
                      = product['title']
                    %span.mtext-102.cl3
                      - if product['promotion_price'].present?
                        .promotion-price
                          = "#{number_with_delimiter(product['price']&.to_i, :delimiter => '.')} VND"
                        %b
                          = "#{number_with_delimiter(product['promotion_price']&.to_i, :delimiter => '.')} VND"
                      - else
                        = "#{number_with_delimiter(product['price']&.to_i, :delimiter => '.')} VND"
                    %span.stext-105.cl3
                      - count = product['stocks_count']&.to_i
                      - if count == 1
                        = I18n.t("page.product.single_colour")
                      - else
                        = I18n.t("page.product.other_colour_count", count: count)
                  .block2-txt-child2.flex-r.p-t-3
                    - pro_ids = @favorite.try(:product_ids) || []
                    = link_to favorite_path(product['id']), method: :put, remote: true,
                      class: "#{'js-addedwish-b2' if pro_ids.include?(product['id'])} wishlist-#{product['id']} btn-addwish-b2 dis-block pos-relative js-addwish-b2" do
                      = cl_image_tag "https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-heart-01.png", class: "icon-heart1 dis-block trans-04", alt: 'ICON', loading:"lazy"
                      = cl_image_tag "https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-heart-02.png", class: "icon-heart2 dis-block trans-04 ab-t-l", alt: 'ICON', loading:"lazy"
                  - if product['has_promotion'] == 't'
                    .block2-txt-promo.flex-col-l.bor10
                      %span.mtext-103.cl3.promotion
                        = product['promotion']
        .row.isotope-grid
          .col-sm-6.col-md-4.p-b-40
          .col-sm-6.col-md-4.p-b-40
            %h3.mtext-111.cl2.p-b-16
              = link_to I18n.t("page.foundation.more"), products_path(category: cats['slug']), class: 'flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10'
          .col-sm-6.col-md-4.p-b-40
= render "layouts/seo_bread", datas: @datas
:css
  @media only screen and (max-width: 576px) {
    .block2-txt-child1 > a, .block2-txt-child1 > span {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 800px) {
    .title-product {
      font-size: 10px !important;
    }
  }
  .title-product {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 67.584px;
    line-height: 22.792px;
    -webkit-line-clamp: 3;
    font-weight: 800;
  }