/ Banner
.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    .alert
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}"
    .flex-w.flex-sb-m.p-b-52
      .dis-none.panel-search.w-full.p-t-10.p-b-15
        .bor8.dis-flex.p-l-15
          %button.size-113.flex-c-m.fs-16.cl2.hov-cl1.trans-04
            %i.zmdi.zmdi-search
          %input.mtext-107.cl2.size-114.plh2.p-r-15{:name => "search-product", :placeholder => "Search", :type => "text"}/
      / Filter
      .dis-none.panel-filter.w-full.p-t-10
        .wrap-filter.flex-w.bg6.w-full.p-lr-40.p-t-27.p-lr-15-sm
          .filter-col1.p-r-15.p-b-27
            .mtext-102.cl2.p-b-15
              Sort By
            %ul
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Default
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Popularity
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Average rating
              %li.p-b-6
                %a.filter-link.stext-106.trans-04.filter-link-active{:href => "#"}
                  Newness
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Price: Low to High
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Price: High to Low
          .filter-col2.p-r-15.p-b-27
            .mtext-102.cl2.p-b-15
              Price
            %ul
              %li.p-b-6
                %a.filter-link.stext-106.trans-04.filter-link-active{:href => "#"}
                  All
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  $0.00 - $50.00
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  $50.00 - $100.00
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  $100.00 - $150.00
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  $150.00 - $200.00
              %li.p-b-6
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  $200.00+
          .filter-col3.p-r-15.p-b-27
            .mtext-102.cl2.p-b-15
              Color
            %ul
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #222;"}
                  %i.zmdi.zmdi-circle
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Black
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #4272d7;"}
                  %i.zmdi.zmdi-circle
                %a.filter-link.stext-106.trans-04.filter-link-active{:href => "#"}
                  Blue
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #b3b3b3;"}
                  %i.zmdi.zmdi-circle
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Grey
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #00ad5f;"}
                  %i.zmdi.zmdi-circle
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Green
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #fa4251;"}
                  %i.zmdi.zmdi-circle
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  Red
              %li.p-b-6
                %span.fs-15.lh-12.m-r-6{:style => "color: #aaa;"}
                  %i.zmdi.zmdi-circle-o
                %a.filter-link.stext-106.trans-04{:href => "#"}
                  White
          .filter-col4.p-b-27
            .mtext-102.cl2.p-b-15
              Tags
            .flex-w.p-t-4.m-r--5
              %a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5{:href => "#"}
                Fashion
              %a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5{:href => "#"}
                Lifestyle
              %a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5{:href => "#"}
                Denim
              %a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5{:href => "#"}
                Streetstyle
              %a.flex-c-m.stext-107.cl6.size-301.bor7.p-lr-15.hov-tag1.trans-04.m-r-5.m-b-5{:href => "#"}
                Crafts
    .row.isotope-grid
      - @products.each do |product|
        .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
          / Block2
          .block2
            .block2-pic.hov-img0
              = link_to product_path(product.id) do
                = cl_image_tag product.product_images.first.try(:url)
            .block2-txt.flex-w.flex-t.p-t-14
              .block2-txt-child1.flex-col-l
                = link_to product_path(product.id), :"data-no-turbolink" => 'false', class: "stext-301 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" do
                  = product.title
                %span.mtext-102.cl3
                  = "#{number_with_delimiter(product.price.to_i, :delimiter => '.')} vnd"
                %span.stext-105.cl3
                  - count = product.stocks.map(&:color).uniq.count
                  - if count == 1
                    = I18n.t("page.product.single_colour")
                  - else
                    = I18n.t("page.product.other_colour_count", count: count)
              - if product.has_promotion
                .block2-txt-promo.flex-col-l.bor10
                  %span.mtext-103.cl3.promotion
                    = product.promotion
              .block2-txt-child2.flex-r.p-t-3
                %a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2{:href => "#"}
                  -#%img.icon-heart1.dis-block.trans-04{:alt => "ICON", :src => "images/icons/icon-heart-01.png"}/
                  -#%img.icon-heart2.dis-block.trans-04.ab-t-l{:alt => "ICON", :src => "images/icons/icon-heart-02.png"}/
