%section.sec-product-detail.bg0.p-t-65.p-b-60.main-page
  .container
    .alert
    .row
      .col-md-7.col-lg-7.p-b-30
        .p-l-25.p-r-30.p-lr-0-lg
          .wrap-slick3.flex-sb.flex-w
            .wrap-slick3-dots
            .wrap-slick3-arrows.flex-sb-m.flex-w
            .slick3.gallery-lb
              - @product.product_images.each do |image|
                .item-slick3{"data-thumb" => image.thumb_url}
                  .wrap-pic-w.pos-relative
                    = cl_image_tag image.image_url
      .col-md-5.col-lg-5.p-b-30
        .p-r-50.p-t-5.p-lr-0-lg
          %h4.mtext-105.cl2.js-name-detail.p-b-14
            = @product.title
            .stext-103.cl2.js-name-detail.p-b-14
              = "#{I18n.t("page.product.code") }: "
              .stock_code
          %span.mtext-105.cl2
            - if @product.promotion_price.present?
              .promotion-price
                = "#{number_with_delimiter(@product.price.to_i, :delimiter => '.')} VND"
              %b
                = "#{number_with_delimiter(@product.promotion_price.to_i, :delimiter => '.')} VND"
            - else
              = "#{number_with_delimiter(@product.price.to_i, :delimiter => '.')} VND"
          %p.stext-103.cl3.p-t-23
            = @product.short_description
          /
          = form_tag line_items_path, method: :post, remote: true do
            .p-t-33.stext-103
              - if @product.bottom_stocks.present?
                .flex-w.flex-r-m.p-b-10
                  .size-203.flex-c-m.respon6.text-left
                    = I18n.t("page.product.tsize")
                  .size-204.respon6-nextp
                    .rs1-select2.bor8.bg0
                      /
                      = select_tag :size, options_for_select(@stocks.map{ |c| [c[0], c[0], { 'data-color-src'=> c[1].map(&:color).join('|') }] }), class: 'js-select2'
                      .dropDownSelect2.flex-w.flex-r-m.p-b-10
                .flex-w.flex-r-m.p-b-10
                  .size-203.flex-c-m.respon6.text-left
                    = I18n.t("page.product.ssize")
                  .size-204.respon6-nextp
                    .rs1-select2.bor8.bg0
                      /
                      = select_tag :b_size, options_for_select(@b_stocks.map{ |c| [c.size, c.size] }), class: 'js-select2'
                      .dropDownSelect2.flex-w.flex-r-m.p-b-10
              - else
                .flex-w.flex-r-m.p-b-10
                  .size-203.flex-c-m.respon6.text-left
                    = I18n.t("page.product.size")
                  .size-204.respon6-nextp
                    .rs1-select2.bor8.bg0
                      /
                      = select_tag :size, options_for_select(@stocks.map{ |c| [c[0], c[0], { 'data-color-src'=> c[1].map(&:color).join('|') }] }), class: 'js-select2'
                      .dropDownSelect2
              .flex-w.flex-r-m.p-b-10
                .size-203.flex-c-m.respon6.text-left
                  = I18n.t("page.product.color")
                .size-204.respon6-nextp
                  = select_tag :color, options_for_select(@color_images.map{ |i| [i.color_name, i.color_name,
                    { 'data-img-src'=>cl_image_path(i.color_image_url, :width => 60, :height => 60, :crop => :fill), 'data-img-class'=>"#{i.color_name} size-color" }] }),
                    class: 'image-picker show-html', include_blank: true
              .flex-w.flex-r-m.p-b-10
                .size-203.flex-c-m.respon6.text-left
                  = I18n.t("page.product.quantity")
                .size-204.flex-w.flex-m.respon6-nextp
                  .wrap-num-product.flex-w.m-r-20.m-tb-10
                    .btn-num-product-down.cl8.hov-btn3.trans-04.flex-c-m
                      %i.fs-16.zmdi.zmdi-minus
                    %input.mtext-104.cl3.txt-center.num-product{:name => "quantity", readonly: 'true', :value => "1", id: 'quantity'}/
                    .btn-num-product-up.cl8.hov-btn3.trans-04.flex-c-m
                      %i.fs-16.zmdi.zmdi-plus
                  = hidden_field_tag :product_id, @product.id
              .flex-w.flex-r-m.p-b-10
                .size-204.flex-w.flex-m.respon6-next
                  %button.flex-c-m.stext-101.cl0.size-101.bg1.bor1.hov-btn1.p-lr-15.trans-04.js-addcart-detail{:disabled => ("disable" if @product.out_of_stock?)}
                    = @product.out_of_stock? ? I18n.t("page.product.out_of_stock") : I18n.t("page.product.add_to_cart")
    .bor10.m-t-50.p-t-43.p-b-40
      / Tab01
      .tab01
        %nav
          #nav-tab.nav.nav-tabs{:role => "tablist"}
            %a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-home", :role => "tab"}
              = I18n.t("page.product.description")
            %a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-profile", :role => "tab"}
              = I18n.t("page.product.measurement")
        #nav-tabContent.tab-content
          #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
            .how-pos2.p-lr-15-md
              = raw @product.description
          #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"}
            .how-pos2.p-lr-15-md
              .product-measurement-image
                = cl_image_tag(@product.measurement_url)
            .how-pos2.p-lr-15-md
              = raw @product.measurement_description
    .bor10.m-t-50.p-t-43.p-b-40
      %center
        %h4.mtext-105.cl2.js-name-detail.p-b-14
          = I18n.t "page.product.related_product"
      .tab01
        .row.related
          - @related_products.each do |product|
            .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women
              .block2
                .block2-pic.hov-img0
                  = link_to product_path(product.slug) do
                    = cl_image_tag product.product_images.first.try(:image_url)
                .block2-txt.flex-w.flex-t.p-t-14
                  .block2-txt-child1.flex-col-l
                    = link_to product_path(product.slug), :"data-no-turbolink" => 'false', class: "stext-301 cl2 hov-cl1 trans-04 js-name-b2 p-b-6" do
                      = product.title
                    %span.mtext-102.cl3
                      - if product.promotion_price.present?
                        .promotion-price
                          = "#{number_with_delimiter(product.price.to_i, :delimiter => '.')} VND"
                        %b
                          = "#{number_with_delimiter(product.promotion_price.to_i, :delimiter => '.')} VND"
                      - else
                        = "#{number_with_delimiter(product.price.to_i, :delimiter => '.')} VND"
                    %span.stext-105.cl3
                      - count = product.stocks.map(&:color).uniq.count
                      - if count == 1
                        = I18n.t("page.product.single_colour")
                      - else
                        = I18n.t("page.product.other_colour_count", count: count)
                  - if product.has_promotion
                    .block2-txt-promo.flex-col-l.bor10
                      %span.mtext-103.cl3.promotion
                        = product.promotion
:javascript
  function checkcolor(){
    var color = '\\b(' + $('#size').find(':selected').data('color-src') + ')\\b'
    regex = new RegExp(color, 'i');
    $("div.size-color").each(function() {
      var elClasses = ' ' + $(this).attr('class').replace(/\s+/, ' ') + ' ';
      if(regex.test(elClasses)) {
        $(this).removeClass('unclicked');
      } else {
        $(this).addClass('unclicked');
      }
    });
  }

  function checkStockCode(){
    stock_id = $('#size').find(':selected').val(),
    product_id = "#{@product.id}",
    color = $("#color").val(),
    $.ajax({
      type: "GET",
      url: '/stocks',
      data: {
        'product_id': product_id,
        'color': color,
        'stock_id': stock_id
      },
      complete: function (response) {
        var responseText = response.responseText;
        $.globalEval(responseText);
      }
    });
  }

  $(document).ready(function() {
    $(".js-select2").each(function(){
      $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next('.dropDownSelect2')
      });
    });

    $(".image-picker").imagepicker({
      hide_select:  true,
      show_label:   false,
      clicked:function(){
        console.log($(this).find("option[value='" + $(this).val() + "']").data('img-src'));
      }
    });

    checkcolor();
    checkStockCode();

    $("#size").change(function(){
      checkcolor();
      checkStockCode();
    });

    $("#color").change(function(){
      checkStockCode();
    });
  });
