:css 
  .member-slider {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .slide-content  {
    display: flex;
    max-width: 100%;
  }

  .direction button {
    background-color: #bfbfa4;
    border-style: solid;
    border: none;
    border-width: 3px;
    display: inline-block;
    font-family: Inter;
    font-weight: 300;
    line-height: 16px;
    margin: 0px 5px;
    text-align: center;
    width: 40px;
    height: 6px;
  }

  .direction button:hover {
    background-color: #363535;
  }

  .arrow-direction {
    color: #bfbfa4;
    border: none;
    font-weight: 600;
    font-size: 40px;
    top: 0;
    bottom: 0;
    position: sticky;
  }

  .arrow-direction:hover {
    color: #363535;
  }

  #arrow-prev {
    left: 10px;
  }

  #arrow-next {
    right: 10px;
  }

  #formList {
    max-width: 100%;
    overflow: auto;
    margin: 10px auto;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
  }

  #formList::-webkit-scrollbar {
    display: none;
  }

  #list {
    display: flex;
    width: max-content;
    margin: auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    margin: 0px 25px;
    justify-content: center;
    min-width: 200px;
    width: 200px;
  }

  .item .avatar {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid;
    align-self: center;
  }

  .item .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item .content div {
    -# padding: 10px 0;
    text-align: center;
    color: #717fe0;
    display: inline;
    letter-spacing: 0.8px;
  }

  .item .content .name {
    font-weight: 500;
    line-height: 20.8px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .item .content .role {
    font-size: 12.8px;
    font-weight: 300;
    line-height: 16.64px;
    text-transform: uppercase;
     margin-bottom: 10px;
  }

  .item .content .desc {
    color: #212529;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 23.04px;
    -# margin: 1.44px 0px;
  }
  .area {
    margin-top: 40px;
  }

  @media screen and (max-width: 1024px) {
    .item {
      width: calc(33.3vw - 90px)
    }
  }

  @media only screen and (max-width: 775px) {
    .item {
      width: calc(50vw - 90px);
    }
  }
  @media (max-width: 576px) {
    .area {
      margin-top: 20px !im;
    }
  }



.container.area
  .row.isotope-grid
    .block1-txt-child1.flex-col-l.center.m-t-5.m-b-15
      %span.block1-name.ltext-108.trans-04.p-b-8.parner-title
        = I18n.t "page.index.members"
  .row.d-flex.member-slider
    .slide-content  
      %button#arrow-prev.arrow-direction
        <
      #formList
        #list
          - @member_ads.each do |member|
            .item 
              = cl_image_tag "#{member.avatar.url}", class: "avatar", loading:"lazy",  alt: "team member"
              .content 
                .name 
                  = member['name']
                .role 
                  = member['role']
                .desc 
                  = member['description']
      %button#arrow-next.arrow-direction
        >

:javascript
  $("#next").click(function() {
    const widthItem = document.querySelector('.item').offsetWidth;
    document.getElementById('formList').scrollLeft += document.documentElement.clientWidth;
  })
  $("#prev").click(function() {
    const widthItem = document.querySelector('.item').offsetWidth;
    document.getElementById('formList').scrollLeft -= document.documentElement.clientWidth;
  })
  $("#arrow-next").click(function() {
    const widthItem = document.querySelector('.item').offsetWidth;
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      document.getElementById('formList').scrollLeft += $(".item").width();
    } else {
      document.getElementById('formList').scrollLeft += document.documentElement.clientWidth;
    }
  })
  $("#arrow-prev").click(function() {
    const widthItem = document.querySelector('.item').offsetWidth;
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      document.getElementById('formList').scrollLeft -= $(".item").width();
    } else {
      document.getElementById('formList').scrollLeft -= document.documentElement.clientWidth;
    }
  })
