= cl_image_tag  "#{cdn_url}/systems/Crop+logo-03.png", class: "partner-img partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/Crop+logo-02.png", class: "partner-img partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/Crop+logo-05.png", class: "partner-img  partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/Crop+logo-04.png", class: "partner-img  partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/Crop+logo-01.png", class: "partner-img  partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/logo-6.png", class: "partner-img partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/logo-7.png", class: "partner-img partner-mobile", loading:"lazy",  alt: "lmcation logo"
= cl_image_tag  "#{cdn_url}/systems/logo-8.png", class: "partner-img partner-mobile", loading:"lazy",  alt: "lmcation logo"