.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag 'lmcation_banner_4_nfqdab.jpg'
  %h2.ltext-105.cl0.txt-center.title
    = I18n.t "page.about_us.about_us"
.sec-banner.bg0.p-t-81.p-b-50
  .container
    .row.p-b-148
      .col-md-7.col-lg-9
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md.vision
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.vision"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.vision_content.content"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.mission"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.mission_content.content"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.mission_content.content_1"
      .col-11.col-md-5.col-lg-3.m-lr-auto
        .how-bor1
          .hov-img0
            = cl_image_tag 'shutterstock_296640557_Retouched_oav06i.jpg'
    .row.p-b-148
      .order-md-2.col-md-7.col-lg-9.p-b-30
        .p-t-7.p-l-85.p-l-15-lg.p-l-0-md.value
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.value"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.value_content.content1"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.value_content.content2"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content3_head"
            = I18n.t "page.about_us.value_content.content3"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content4_head"
            = I18n.t "page.about_us.value_content.content4"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content5_head"
            = I18n.t "page.about_us.value_content.content5"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content6_head"
            = I18n.t "page.about_us.value_content.content6"
            %br
            = I18n.t "page.about_us.value_content.content7"
            %br
            = I18n.t "page.about_us.value_content.content8"
      .order-md-1.col-11.col-md-5.col-lg-3.m-lr-auto.p-b-30
        .how-bor2
          .hov-img0
            = cl_image_tag 'shutterstock_1318779896_retouched_xs97a5.jpg'
