= content_for :title do
  = I18n.t "page.about_us.about_us"
.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag "#{cdn_url}/systems/lmcation+banner+5.jpg", alt: "#{I18n.t "page.about_us.about_us"}"
  %h1.ltext-105.cl0.txt-center.title.about-header
    = I18n.t "page.about_us.about_us"
.container
  = render_breadcrumbs :separator => ' / '
.sec-banner.bg0.p-t-50.p-b-50
  .container
    .row.p-b-70
      - unless I18n.t("page.about_us.about_head1").empty?
        %p.p-l-15.p-b-10.font-weight-bold
          = I18n.t "page.about_us.about_head1"
          %br
          %br
          = I18n.t "page.about_us.about_head2"
      .col-md-7.col-lg-9
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md.vision
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.vision"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.vision_content.content"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.mission"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.mission_content.content"
          - unless I18n.t("page.about_us.mission_content.content_1").empty?
            %p.stext-113.cl6.p-b-26
              = I18n.t "page.about_us.mission_content.content_1"
          - unless I18n.t("page.about_us.culture").empty?
            %h3.mtext-111.cl2.p-b-16
              = I18n.t "page.about_us.culture"
            %p.stext-113.cl6.p-b-26
              = I18n.t "page.about_us.culture_content.content1"
            - (2..6).each do |data|
              %p
                = I18n.t "page.about_us.culture_content.content#{data}"
      .col-11.col-md-5.col-lg-3.m-lr-auto.m-t-30
        .how-bor1
          .about-img1
            = cl_image_tag "#{cdn_url}/systems/Promotion.jpg", width: '250px'
    .row.p-b-148
      .order-md-2.col-md-7.col-lg-9.p-b-30
        .p-t-7.p-l-85.p-l-15-lg.p-l-0-md.value
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.about_us.value"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.value_content.content1"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.about_us.value_content.content2"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content3_head"
            = I18n.t "page.about_us.value_content.content3"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content4_head"
            = I18n.t "page.about_us.value_content.content4"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content5_head"
            = I18n.t "page.about_us.value_content.content5"
          %p.stext-113.cl6.p-b-26
            %b
              = I18n.t "page.about_us.value_content.content6_head"
            = I18n.t "page.about_us.value_content.content6"
            %br
            = I18n.t "page.about_us.value_content.content7"
            %br
            = I18n.t "page.about_us.value_content.content8"
      .order-md-1.col-11.col-md-5.col-lg-3.m-lr-auto.p-b-30
        .how-bor2
          .hov-img0
            = cl_image_tag "#{cdn_url}/systems/new+arrivals.jpg"
= render "layouts/seo_bread", datas: @datas