= content_for :title do
  Liên Hệ
.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag "#{cdn_url}/systems/lmcation+banner+7.jpg", alt:"Liên Hệ"
  %h1.ltext-105.cl0.txt-center.title
    = I18n.t "page.menu.find_us"
.container
  = render_breadcrumbs :separator => ' / '
%section.bg0.p-t-104.p-b-116
  .container
    .flex-w.flex-tr
      .size-210.bor10.p-lr-70.p-t-55.p-b-70.p-lr-15-lg.w-full-md
        .alert
          - flash.each do |key, value|
            = content_tag :div, value.html_safe, class: "alert alert-#{key}" unless key == 'pixel'
        = form_for(Message.new) do |f|
          %h4.mtext-105.cl2.txt-center.p-b-30
            = I18n.t "page.find_us.send_msg"
          .bor8.m-b-20.how-pos4-parent
            = f.text_field :email, autofocus: true, class: 'stext-111 cl2 plh3 size-116 p-l-62 p-r-30', :name => "email", :placeholder => I18n.t("page.find_us.email_field"), :type => "text"
            = cl_image_tag 'https://lmcation.s3.ap-southeast-1.amazonaws.com/icons/icon-email.png', class: 'how-pos4 pointer-none'
          .bor8.m-b-30
            = f.text_area :question, autofocus: true, class: 'stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25', :name => "question", :placeholder => I18n.t("page.find_us.help_field")
          %center
            .col-sm-6
              = submit_tag I18n.t("page.find_us.submit"), class: 'flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer'
      .size-210.bor10.flex-w.flex-col-m.p-lr-93.p-tb-30.p-lr-15-lg.w-full-md
        .flex-w.w-full.p-b-42
          %span.fs-18.cl5.txt-center.size-211
            %span.lnr.lnr-map-marker
          .size-212.p-t-2
            %span.mtext-110.cl2
              = I18n.t "page.find_us.address"
            %p.stext-115.cl6.size-213.p-t-18
              = I18n.t "page.find_us.address_detail"
        .flex-w.w-full.p-b-42
          %span.fs-18.cl5.txt-center.size-211
            %span.lnr.lnr-phone-handset
          .size-212.p-t-2
            %span.mtext-110.cl2
              = I18n.t "page.find_us.talk"
            %p.stext-115.cl1.size-213.p-t-18
              077 712 1299
        .flex-w.w-full
          %span.fs-18.cl5.txt-center.size-211
            %span.lnr.lnr-envelope
          .size-212.p-t-2
            %span.mtext-110.cl2
              = I18n.t "page.find_us.support"
            %p.stext-115.cl1.size-213.p-t-18
              info@lmcation.com
= render "layouts/seo_bread", datas: @datas
