= content_for :title do
  LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ
/ Banner
.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    .row
      .col-md-3.col-xl-2.p-b-30
        %i.zmdi.zmdi-rotate-left
        %a.policy-text{:href => policy_path, hreflang: "#{I18n.locale}"}
          = I18n.t "page.index.return"
      .col-md-3.col-xl-3
        %i.zmdi.zmdi-car-taxi
        %a.policy-text{:href => policy_path, hreflang: "#{I18n.locale}"}
          = I18n.t "page.index.delivery"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
    .row
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.best_seller_link, loading:"lazy", alt: "best seller"
          = link_to products_path(check: 'best_sellers'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.best_seller"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.best_seller"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.promotion_link, loading:"lazy", alt: "promotion"
          = link_to products_path(check: 'promotion'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.promotion"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.promotion_description"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.new_arrival_link, loading:"lazy", alt: "new arrival"
          = link_to products_path(check: 'new_arrivals'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.new_arrivals"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.new_arrivals_description"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
  .container
    .row
      - @cats.each do |cat|
        .col-md-4.col-xl-4.p-b-30.m-lr-auto
          / Block1
          .block1.wrap-pic-w.img-height
            = cl_image_tag cat['cate_image_url'], loading:"lazy", alt: "#{cat['name']}"
            = link_to products_path(category: cat['slug']), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
              .block1-txt-child1.flex-col-l
                %span.block1-name.ltext-102.trans-04.p-b-8
                  = cat['name']
                .block1-txt-child2.p-b-4.trans-05
                  .block1-link.stext-101.cl0.trans-09
                    = cat['description']
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.shop_now"
  .container
    .row
      .col-md-6.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.inspiration_link, loading:"lazy", alt: "inspiration"
          = link_to foundations_path(category: "inspiration"), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.foundation.inspiration"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.more"
      .col-md-6.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.empowerment_link, loading:"lazy", alt: "empowerment"
          = link_to foundations_path(category: "empowerment"), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.foundation.empowerment"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.more"
  .container
    .row.isotope-grid
      .block1-txt-child1.flex-col-l.center
        %span.block1-name.ltext-108.trans-04.p-b-8
          = I18n.t "page.menu.partners"
    .row.d-flex
      .col-md-12.p-b-30.m-lr-auto
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-03.png", class: "partner-img", loading:"lazy",  title: "crop logo 03", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-02.png", class: "partner-img", loading:"lazy",  title: "crop logo 02", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-05.png", class: "partner-img", loading:"lazy",  title: "crop logo 05", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-04.png", class: "partner-img", loading:"lazy",  title: "Grap", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-01.png", class: "partner-img", loading:"lazy",  title: "crop logo 01", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-6.png", class: "partner-img", loading:"lazy",  title: "logo 6", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-7.png", class: "partner-img", loading:"lazy",  title: "logo 7", alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-8.png", class: "partner-img", loading:"lazy",  title: "shopee", alt: "lmcation logo"
