:css
  @media only screen and (max-width: 775px) {
    .ltext-102 {
      font-size: 18px;
      font-weight: 800;
    }

    .ab-t-l {
      top: -20px;
    }
  }
  .modal-title {
    font-weight: bold;
  }
  .susgoal-body .susgoal {
    font-family: Gotham-Medium !important;
    font-size: 26px !important;
    line-height: 1.3846;
    color: #4f8ca8;
  }

  @media (max-width: 575px) {
    .susgoal-body .susgoal {
      font-family: Gotham-Medium !important;
      font-size: 20px !important;
    }
    .partner-img{
      width: 30%;
      margin: 0;
    }
    .p-left {
      margin-left: 45px;
    }
    .p-top-last{
      margin-top: -13px
    }
    .btn-close-m {
      top: 0px;
      right: 3px;
      left: auto !important;
    }
  }
  
= content_for :title do
  LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ
/ Banner
.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    .row
      .col-md-3.col-xl-2.p-b-30
        %i.zmdi.zmdi-rotate-left
        %a.policy-text{:href => policy_path, hreflang: "#{I18n.locale}"}
          = I18n.t "page.index.return"
      .col-md-3.col-xl-3
        %i.zmdi.zmdi-car-taxi
        %a.policy-text{:href => policy_path, hreflang: "#{I18n.locale}"}
          = I18n.t "page.index.delivery"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
    .row
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.best_seller_link, loading:"lazy", alt: "best seller"
          = link_to products_path(check: 'best_sellers'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.best_seller"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.best_seller"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.promotion_link, loading:"lazy", alt: "promotion"
          = link_to products_path(check: 'promotion'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.promotion"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.promotion_description"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
      .col-md-4.col-xl-4.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.new_arrival_link, loading:"lazy", alt: "new arrival"
          = link_to products_path(check: 'new_arrivals'), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.index.new_arrivals"
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.new_arrivals_description"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.shop_now"
  .container
    .row
      - @cats.each do |cat|
        .col-md-4.col-xl-4.p-b-30.m-lr-auto
          / Block1
          .block1.wrap-pic-w.img-height
            = cl_image_tag cat['cate_image_url'], loading:"lazy", alt: "#{cat['name']}"
            = link_to products_path(category: cat['slug']), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
              .block1-txt-child1.flex-col-l
                %span.block1-name.ltext-102.trans-04.p-b-8
                  = cat['name']
                .block1-txt-child2.p-b-4.trans-05
                  .block1-link.stext-101.cl0.trans-09
                    = cat['description']
              .block1-txt-child2.p-b-4.trans-05
                .block1-link.stext-101.cl0.trans-09
                  = I18n.t "page.index.shop_now"
  .container
    .row.isotope-grid.susgoal-body
      .block1-txt-child1.flex-col-l.center
        %span.block1-name.trans-04.p-b-8.susgoal
          = link_to I18n.t("page.menu.susgoallink"),class: "" do 
            = I18n.t "page.menu.susgoal"
    .row.d-flex
      .col-md-12.p-b-30.m-lr-auto
        = image_tag  "#{I18n.t "page.menu.susgoalimg-1"}", class: "partner-img", loading:"lazy",  alt: "lmcation logo", :onClick => "suspopup('#{I18n.t "page.menu.susgoal1-title"}', '#{I18n.t "page.menu.susgoal1"}')".html_safe
        = image_tag  "#{I18n.t "page.menu.susgoalimg-2"}", class: "partner-img", loading:"lazy",  alt: "lmcation logo", :onClick => "suspopup('#{I18n.t "page.menu.susgoal2-title"}', '#{I18n.t "page.menu.susgoal2"}')".html_safe
        = image_tag  "#{I18n.t "page.menu.susgoalimg-3"}", class: "partner-img", loading:"lazy",  alt: "lmcation logo", :onClick => "suspopup('#{I18n.t "page.menu.susgoal3-title"}', '#{I18n.t "page.menu.susgoal3"}')".html_safe
        = image_tag  "#{I18n.t "page.menu.susgoalimg-4"}", class: "partner-img p-left", loading:"lazy",  alt: "lmcation logo", :onClick => "suspopup('#{I18n.t "page.menu.susgoal4-title"}', '#{I18n.t "page.menu.susgoal4"}')".html_safe
        = image_tag  "#{I18n.t "page.menu.susgoalimg-5"}", class: "partner-img p-top-last", loading:"lazy",  alt: "lmcation logo", :onClick => "suspopup('#{I18n.t "page.menu.susgoal5-title"}', '#{I18n.t "page.menu.susgoal5"}')".html_safe
  .container
    .row
      .col-md-6.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.inspiration_link, loading:"lazy", alt: "inspiration"
          = link_to foundations_path(category: "inspiration"), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.foundation.inspiration"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.more"
      .col-md-6.p-b-30.m-lr-auto
        / Block1
        .block1.wrap-pic-w.img-height
          = cl_image_tag Rails.application.secrets.empowerment_link, loading:"lazy", alt: "empowerment"
          = link_to foundations_path(category: "empowerment"), class: "block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" do
            .block1-txt-child1.flex-col-l
              %span.block1-name.ltext-102.trans-04.p-b-8
                = I18n.t "page.foundation.empowerment"
            .block1-txt-child2.p-b-4.trans-05
              .block1-link.stext-101.cl0.trans-09
                = I18n.t "page.index.more"
  .container
    .row.isotope-grid
      .block1-txt-child1.flex-col-l.center
        %span.block1-name.ltext-108.trans-04.p-b-8
          = I18n.t "page.menu.partners"
    .row.d-flex
      .col-md-12.p-b-30.m-lr-auto
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-03.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-02.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-05.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-04.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/Crop+logo-01.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-6.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-7.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
        = cl_image_tag  "#{cdn_url}/systems/logo-8.png", class: "partner-img", loading:"lazy",  alt: "lmcation logo"
#susimg.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content{:style => "background-color: white;"}
      .modal-header{:style => "justify-content: center;"}
        %h5.modal-title Modal title
        %button.close.btn-close-m{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        SDG #1. LMcation helps to eliminate poverty.
        We provide work to the poor and marginalized. We give our partners access to a sustainable income, boosting their chances at a better future.
:javascript
  $(".susimg1").click(function() {
    $('#susimg1').modal('show');
    console.log('#{I18n.t("page.foundation.empowerment")}')
  })
  function suspopup(title, content) {
    let modal = $("#susimg")
    let header = $(modal).find(".modal-title");
    let body = $(modal).find(".modal-body");
    $(header).text(title)
    $('#susimg').modal('show')
  }
