.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag "#{cdn_url}/systems/lmcation+banner+6.jpg"
  %h1.ltext-105.cl0.txt-center.title
    = I18n.t "page.index.policy"
.container
  = render_breadcrumbs :separator => ' / '
.sec-banner.bg0.p-b-50
  .container
    .row.p-b-148
      .col-md-12.col-lg-12
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md.vision
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.exchange_qualify_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.exchange_qualify_ans"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.return_qualify_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.return_qualify_ans"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.submit_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.submit_ans"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.exchange_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.exchange_ans_1"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.exchange_ans_2"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.exchange_ans_3"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.return_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.return_ans"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.long_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.long_ans"
          %h3.mtext-111.cl2.p-b-16
            = I18n.t "page.policy.status_qus"
          %p.stext-113.cl6.p-b-26
            = I18n.t "page.policy.status_ans"
= render "layouts/seo_bread", datas: @datas
