.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag 'https://lmcation.s3-ap-southeast-1.amazonaws.com/systems/lmcation+banner+7.jpg'
  %h2.ltext-105.cl0.txt-center.title
    = I18n.t "page.privacy.privacy"
.sec-banner.bg0.p-t-81.p-b-50
  .container
    .row.p-b-148
      .col-md-12.col-lg-12
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md.vision
          %p.stext-113.cl6.p-b-26
            %h3.mtext-112.cl2.p-b-16
              = I18n.t "page.privacy.header_1"
            %ul.disc
              %li
                = I18n.t("page.privacy.content_1_1").html_safe
              %li
                = I18n.t("page.privacy.content_1_2").html_safe
              %li
                = I18n.t "page.privacy.content_1_3"
              %li
                = I18n.t "page.privacy.content_1_4"
          %p.stext-113.cl6.p-b-26
            %h3.mtext-112.cl2.p-b-16
              = I18n.t "page.privacy.header_2"
            = I18n.t("page.privacy.content_2").html_safe
            %ul.disc
              %li
                = I18n.t("page.privacy.content_2_1")
              %li
                = I18n.t("page.privacy.content_2_2").html_safe
              %li
                = I18n.t "page.privacy.content_2_3"
              %li
                = I18n.t "page.privacy.content_2_4"
              %li
                = I18n.t("page.privacy.content_2_5").html_safe
              %li
                = I18n.t("page.privacy.content_2_6").html_safe
          %p.stext-113.cl6.p-b-26
            %h3.mtext-112.cl2.p-b-16
              = I18n.t "page.privacy.header_3"
            = I18n.t("page.privacy.content_3_1").html_safe
            %br
            %br
            .mtext-110.cl2.p-b-16
              = I18n.t "page.privacy.header_4"
            .mtext-110.cl2.p-b-16
              = I18n.t "page.privacy.header_5"
            %b
              = I18n.t "page.privacy.header_6"
            = I18n.t "page.privacy.content_6_1"
            %br
            %b
              = I18n.t "page.privacy.header_7"
            = I18n.t("page.privacy.content_7_1").html_safe
            %b
              = I18n.t "page.privacy.header_8"
            = I18n.t "page.privacy.content_8_1"
          %p.stext-113.cl6.p-b-26
            %h3.mtext-112.cl2.p-b-16
              = I18n.t "page.privacy.header_9"
            %ul.disc
              %li
                = I18n.t("page.privacy.content_9_1").html_safe
              %li
                = I18n.t("page.privacy.content_9_2").html_safe
          %p.stext-113.cl6.p-b-26
            %h3.mtext-112.cl2.p-b-16
              = I18n.t "page.privacy.header_10"
            %ul.disc
              %li
                = I18n.t("page.privacy.content_10_1").html_safe
              %li
                = I18n.t("page.privacy.content_10_2").html_safe
              %li
                = I18n.t("page.privacy.content_10_3").html_safe
              %li
                = I18n.t("page.privacy.content_10_4").html_safe
            = I18n.t("page.privacy.content_11").html_safe
