<div class="card pl-3 pr-3">
  <div class="d-flex">
    <div class="">
      <img class="profile-pic" src="https://res.cloudinary.com/dbysq36qu/image/upload/v1622280133/main-logo-sm.png">
    </div>
    <div class="d-flex flex-column">
      <h3 class="mt-2 mb-0"><%= comment[:customer_name] %></h3>
      <div>
        <p class="text-left">
          <% (1..5).each do |i| %>
            <% if i <= comment[:star_rating].floor %>
              <span class="fa fa-star star-active ml-2"></span>
            <% elsif i == comment[:star_rating].ceil && comment[:star_rating] % 1 != 0 %>
              <span class="fa fa-star-half-o star-active ml-2"></span>
            <% else %>
              <span class="fa fa-star star-inactive ml-2"></span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="text-left">
    <p class="content mt-3"><%= comment[:content] %></p>
  </div>

  <%= render "layouts/reply", replys: comment[:reply] %>

  <ul class="mt-3 review-comment-img">
    <% comment[:review_img].each_with_index do |img, index| %>
      <li class="img-w-10 float-left ">
        <img src="<%= img %>" alt="Your Image Description" class="img-w-100">
      </li>
    <% end %>
  </ul>
  
  <div class="d-flex align-items-center bg-light p-2">
    <div class="w-25">
        <img class="w-25" src="<%= comment[:product_img] %>" alt="Product Image">
    </div>
    <div class="w-75 text-center">
        <div><%= comment[:product_title] %></div>

        <div class="center mt-2">
          <div class="size-204 flex-w flex-m respon6-next">
            <%= button_tag(disabled: ("disabled" if @product.out_of_stock?), class: "flex-c-m stext-101 cl0 size-1010 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail") do %>
              <%= @product.out_of_stock? ? I18n.t("page.product.out_of_stock") : I18n.t("page.product.add_to_cart") %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
