.field
  = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn-social btn-google" do
    .icon-container
      %img.sns-icon{src: "https://s.pimg.jp/pixta/assets/modal_banner/new-google-icon-32-f0f7a0b39d494daa9232cec7dd70459e482dfc573bd9b837dc80053b85c6c713.png"}
    %span.sns-sign-up
      = I18n.t("label_gg")
.field.term-margin-20
  = link_to user_facebook_omniauth_authorize_path, method: :post, class: "btn-social btn-facebook" do
    .icon-container
      %i.fa.fa-facebook-official.sns-icon.facebook-icon
    %span.sns-sign-up
      = I18n.t("label_fb")
.field.term-margin-50
  = I18n.t("term").html_safe
.field.term-margin-20.text-center.text-red
  = I18n.t("gift")

:css
  .text-red {
    color: red;
  }
  .term-margin-50 {
    margin-top: 50px;
  }
  .term-margin-20 {
    margin-top: 20px;
  }
  .btn-social {
    display: block;
    height: 38px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
    border-radius: 0.25em;
  } 
  .btn-facebook {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
  }
  .btn-facebook:hover {
    color: #fff;
  }
  .btn-google {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  .btn-google:hover {
    color: #000;
  }
  .icon-container {
    float: left;
    position: relative;
    width: 38px;
    height: 38px;
    color: #fff;
  }
  .sns-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin: auto;
  }