!!!
%html
  %head
    %title Lmcation
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:defer => "defer", :src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    = yield :header
  %body{data: {turbolinks: 'false'}}
    / Header
    %header
      / Header desktop
      .container-menu-desktop
        / Topbar
        .top-bar
          .content-topbar.flex-sb-m.h-full.container
            .left-top-bar
            .right-top-bar.flex-w.h-full
              = link_to I18n.t("page.footer.help"), store_path, class: "flex-c-m trans-04 p-lr-25"
              - if user_signed_in?
                = link_to I18n.t("page.menu.my_account"), edit_user_registration_path, class: "flex-c-m trans-04 p-lr-25"
              - else
                = link_to I18n.t("page.menu.my_account"), new_user_session_path, class: "flex-c-m trans-04 p-lr-25"
              = link_to_unless I18n.locale == :vi, "VI", { locale: :vi }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :en
              = link_to_unless I18n.locale == :en, "EN", { locale: :en }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :vi
              %a.flex-c-m.trans-04.p-lr-25{:href => "#"}
                USD
        .wrap-menu-desktop
          %nav.limiter-menu-desktop.container
            / Menu desktop
            .menu-desktop
              %ul.main-menu
                %li{:class => ('active-menu' if @menu == 'store')}
                  = link_to I18n.t("page.menu.home"), store_path
                %li{:class => ('active-menu' if @menu == 'product')}
                  = link_to I18n.t("page.menu.shop"), products_path
                  %ul.sub-menu
                    - @cats.each do |cat|
                      %li
                        = link_to cat.name, products_path(category: cat.id)
                %li{:class => ('active-menu' if @menu == 'foundation')}
                  = link_to I18n.t("page.menu.foundation"), foundations_path
                  %ul.sub-menu
                    %li
                      = link_to I18n.t("page.foundation.inspiration"), foundations_path(category: "inspiration")
                    %li
                      = link_to I18n.t("page.foundation.empowerment"), foundations_path(category: "empowerment")
                    %li
                      = link_to I18n.t("page.foundation.news"), foundations_path(category: "news")
                %li{:class => ('active-menu' if @menu == 'about')}
                  = link_to I18n.t("page.menu.about_us"), store_about_path
                %li{:class => ('active-menu' if @menu == 'findus')}
                  = link_to I18n.t("page.menu.find_us"), store_find_us_path
                %li{:class => ('active-menu' if @menu == 'joinus')}
                  = link_to I18n.t("page.menu.join_us"), jobs_path
            / Logo desktop
            = link_to store_path, class: 'logo' do
              = image_tag 'main-logo.jpg'
            .slogan.flex-w.flex-r-m
              Create love moments everyday
            / Icon header
            .wrap-icon-header.flex-w.flex-r-m
              .icon-cart
                = render 'carts/icon', total_products: @cart.try(:total_products) || 0
              .icon-wishlist
                = render 'favorites/icon', total_products: @favorite.try(:favorite_products).try(:count) || 0
      / Header Mobile
      .wrap-header-mobile
        / Logo moblie
        .logo-mobile
          = link_to store_path do
            = image_tag 'icons/mobile-logo.jpg'
        / Icon header
        .wrap-icon-header.flex-w.flex-r-m.m-r-15
          .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.js-show-modal-search
            %i.zmdi.zmdi-search
          .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti.js-show-cart{"data-notify" => "2"}
            %i.zmdi.zmdi-shopping-cart
          %a.dis-block.icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti{"data-notify" => "0", :href => "#"}
            %i.zmdi.zmdi-favorite-outline
        / Button show menu
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          %span.hamburger-box
            %span.hamburger-inner
      / Menu Mobile
      .menu-mobile
        %ul.topbar-mobile
          %li
            .left-top-bar
              = I18n.t "page.index.policy_content"
          %li
            .right-top-bar.flex-w.h-full
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                = I18n.t "page.menu.help"
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                = I18n.t "page.menu.my_account"
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                EN
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                USD
        %ul.main-menu-m
          %li
            = link_to I18n.t("page.menu.home"), store_path
          %li
            = link_to I18n.t("page.menu.shop"), products_path
            %span.arrow-main-menu-m
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            %ul.sub-menu-m
              - @cats.each do |cat|
                %li
                  = link_to cat.name, products_path(category: cat.id)
          %li
            = link_to I18n.t("page.menu.foundation"), foundations_path
          %li
            = link_to I18n.t("page.menu.about_us"), store_about_path
          %li
            = link_to I18n.t("page.menu.join_us"), jobs_path
    / Cart
    .wrap-header-cart.js-panel-cart.cart-render
      .alert
      = render 'carts/cart'
    / wishlist
    .wrap-header-cart.js-panel-wishlist.wishlist-render
      .alert
      = render 'favorites/wishlist'
    = yield
    / Footer
    %footer.bg3.p-t-75.p-b-32
      .container
        .row
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.categories"
            %ul
              - @cats.each do |cat|
                %li.p-b-10
                  = link_to cat.name, products_path(category: cat.id), class: 'stext-107 cl7 hov-cl1 trans-04'
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.help"
            %ul
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "store/policy"}
                  = I18n.t "page.index.return"
            -#%li.p-b-10
            -#  %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
            -#    Returns
            -#  %li.p-b-10
            -#    %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
            -#      Shipping
            -#  %li.p-b-10
            -#    %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
            -#      FAQs
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.get_in_touch"
            %p.stext-107.cl7.size-201
              = I18n.t "page.footer.get_in_touch_content"
            .p-t-27
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-facebook
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-instagram
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-pinterest-p
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.newsletter"
            %form
            = form_for(Subscriber.new) do |f|
              .wrap-input1.w-full.p-b-4
                = f.text_field :email, required: true, autofocus: true, class: 'input1 bg-none plh1 stext-107 cl7', placeholder: "email@example.com", type: "text"
                .focus-input1.trans-04
              .p-t-18
                = submit_tag I18n.t("page.footer.subscribe"), class: 'flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04'
        .p-t-40
          .flex-c-m.flex-w.p-b-18
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-01.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-02.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-03.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-04.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-05.png"
          %p.stext-107.cl6.txt-center
            COPYRIGHT © 2020 LMCATION
    / Back to top
    #myBtn.btn-back-to-top
      %span.symbol-btn-back-to-top
        %i.zmdi.zmdi-chevron-up