!!!
%html{ lang: I18n.locale.to_s }
  %head
    %title<
      = content_for?(:title) ? yield(:title) : 'LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ'

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "h8jh9wwwef15r45wi9vm9h2wmnoqu4", :name => "facebook-domain-verification"}/
    %meta{property: "og:title", content: @title.present? ? @title : "LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ" }/
    %meta{property: "og:description", content: @description.present? ? @description : "Đồ Mặc Nhà - Đồ Ngủ, Gym-to-Swim, Đồ Bơi, Đồ Thể Thao" }/
    %meta{property: "og:image", content: @image.present? ? @image : "https://res.cloudinary.com/dbysq36qu/image/upload/v1622280133/main-logo-sm.png" }/
    %meta{property: "og:url", content: @url.present? ? @url : "https://www.lmcation.com/" }/
    %meta{property: "og:error", content: "LMCATION" }/
    %meta{name: "title", content: @title.present? ? @title : "LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ" }/
    %meta{name: "description", content: @description.present? ? @description : "LMCATION - THỜI TRANG TÔN VINH PHỤ NỮ" }/
    %meta{name: "image", content: @image.present? ? @image : "https://res.cloudinary.com/dbysq36qu/image/upload/v1622280133/main-logo-sm.png" }/
    %meta{name: "url", content: @url.present? ? @url : "https://www.lmcation.com/" }/
    %meta{name: "keywords", content: @keyword.present? ? @keyword : (I18n.t("keyword") << "," << I18n.t("keyword_sport")) }/
    %meta{name: "turbolinks-visit-control", content:"reload"}
    %meta{name:"google-site-verification", content:"g-fEOaiTrFmMKnfAztaLVsayhtwOaK9dHM892NBYip4"}
    %link{link: "https://www.lmcation.com/", rel:"canonical", as:"canonical"}
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", data_turbolinks_track: "reload"
    = javascript_include_tag "application", data_turbolinks_track: "reload"
    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '389691432057186');
      fbq('track', 'PageView');
      var event = "#{flash[:pixel]}";
      var event_array = event.split(',');
      for(var i = 0; i < event_array.length; i++) {
        event_array[i] = event_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
        fbq('track', event_array[i]);
      }
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet", defer: :true}/
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NVRLJ6V');
    = yield :header
  %body{data: {turbolinks: 'false'}}
    / Load Facebook SDK for JavaScript
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v6.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    / Your customer chat code
    .fb-customerchat{:attribution => "install_email", :page_id => "101427861226298"}
    / Header
    %header
      / Header desktop
      .container-menu-desktop
        / Topbar
        .top-bar
          .content-topbar.flex-sb-m.h-full.container
            .left-top-bar
            .right-top-bar.flex-w.h-full
              -#= link_to I18n.t("page.footer.help"), store_path, class: "flex-c-m trans-04 p-lr-25"
              - if user_signed_in?
                = link_to I18n.t("page.menu.my_account"), edit_user_registration_path, class: "flex-c-m trans-04 p-lr-25"
              - else
                = link_to I18n.t("page.menu.my_account"), new_user_session_path, class: "flex-c-m trans-04 p-lr-25"
              = link_to_unless I18n.locale == :vi, "VI", { locale: :vi }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :en
              = link_to_unless I18n.locale == :en, "EN", { locale: :en }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :vi
              %a.flex-c-m.trans-04.p-lr-25{:href => "#"}
                USD
        .wrap-menu-desktop
          %nav.limiter-menu-desktop.container
            / Menu desktop
            .menu-desktop
              %ul.main-menu
                %li{:class => ('active-menu' if @menu == 'store')}
                  = link_to I18n.t("page.menu.home"), store_path, onclick: "dataLayer.push({'ga_event_category': 'trang-chu', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
                %li{:class => ('active-menu' if @menu == 'product')}
                  = link_to I18n.t("page.menu.shop"), products_path, onclick:"dataLayer.push({'ga_event_category': 'mua-hang', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
                  %ul.sub-menu
                    - @cats.each do |cat|
                      %li
                        = link_to cat['name'], products_path(category: cat['slug'])
                %li{:class => ('active-menu' if @menu == 'foundation')}
                  = link_to I18n.t("page.menu.foundation"), foundations_path, onclick:"dataLayer.push({'ga_event_category': 'nen-tang', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
                  %ul.sub-menu
                    %li
                      = link_to I18n.t("page.foundation.inspiration"), foundations_path(category: "inspiration")
                    %li
                      = link_to I18n.t("page.foundation.empowerment"), foundations_path(category: "empowerment")
                    %li
                      = link_to I18n.t("page.foundation.news"), foundations_path(category: "news")
                %li{:class => ('active-menu' if @menu == 'about')}
                  = link_to I18n.t("page.menu.about_us"), thoi_trang_ton_vinh_phu_nu_path, onclick: "dataLayer.push({'ga_event_category': 'gioi-thieu', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
                %li{:class => ('active-menu' if @menu == 'findus')}
                  = link_to I18n.t("page.menu.find_us"), lien_he_path, onclick: "dataLayer.push({'ga_event_category': 'lien-he', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
                %li{:class => ('active-menu' if @menu == 'joinus')}
                  = link_to I18n.t("page.menu.join_us"), jobs_path, onclick: "dataLayer.push({'ga_event_category': 'hop-tac', 'ga_event_action': 'link', 'ga_event_label': 'menu', 'event': 'ga_event'});"
            / Logo desktop
            = link_to store_path, class: 'logo' do
              = cl_image_tag 'https://res.cloudinary.com/dbysq36qu/image/upload/v1622280133/main-logo-sm.png', alt:"lmcation logo"
            .slogan.flex-w.flex-r-m
              Create love moments everyday
            / Icon header
            .wrap-icon-header.flex-w.flex-r-m
              .icon-cart
                = render 'carts/icon', total_products: @cart_total
              .icon-wishlist
                = render 'favorites/icon', total_products: @favorite_total
      / Header Mobile
      .wrap-header-mobile
        / Logo moblie
        .logo-mobile
          = link_to store_path do
            = cl_image_tag 'https://res.cloudinary.com/dbysq36qu/image/upload/v1622129479/mobile-logo-sm.jpg', alt:"lmcation logo"
        / Icon header
        .wrap-icon-header.flex-w.flex-r-m.m-r-15
          .icon-cart
            = render 'carts/icon', total_products: @cart_total
          .icon-wishlist
            = render 'favorites/icon', total_products: @favorite_total
        / Button show menu
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          %span.hamburger-box
            %span.hamburger-inner
      / Menu Mobile
      .menu-mobile
        %ul.topbar-mobile
          %li
            .right-top-bar.flex-w.h-full
              - if user_signed_in?
                = link_to I18n.t("page.menu.my_account"), edit_user_registration_path, class: "flex-c-m trans-04 p-lr-10"
              - else
                = link_to I18n.t("page.menu.my_account"), new_user_session_path, class: "flex-c-m trans-04 p-lr-10"
              = link_to_unless I18n.locale == :vi, "VI", { locale: :vi }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :en
              = link_to_unless I18n.locale == :en, "EN", { locale: :en }, { class: 'flex-c-m trans-04 p-lr-25' } if I18n.locale == :vi
        %ul.main-menu-m
          %li
            = link_to I18n.t("page.menu.home"), store_path
          %li
            = link_to I18n.t("page.menu.shop"), products_path
            %span.arrow-main-menu-m
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            %ul.sub-menu-m
              - @cats.each do |cat|
                %li
                  = link_to cat['name'], products_path(category: cat['slug'])
          %li
            = link_to I18n.t("page.menu.foundation"), foundations_path
          %li
            = link_to I18n.t("page.menu.about_us"), thoi_trang_ton_vinh_phu_nu_path
          %li
            = link_to I18n.t("page.menu.join_us"), jobs_path
    / Cart
    .wrap-header-cart.js-panel-cart.cart-render
      .alert
      = render 'carts/cart'
    / wishlist
    .wrap-header-cart.js-panel-wishlist.wishlist-render
      .alert
      = render 'favorites/wishlist'
    = yield
    / Footer
    %footer.bg3.p-t-75.p-b-32
      .container
        .row
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.categories"
            %ul
              - @cats.each do |cat|
                %li.p-b-10
                  = link_to cat['name'], products_path(category: cat['slug']), class: 'stext-107 cl7 hov-cl1 trans-04'
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.help"
            %ul
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{ :href => policy_path }
                  = I18n.t "page.index.return"
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{ :href => trackings_path }
                  = I18n.t "page.tracking.tracking"
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{ :href => privacy_path }
                  = I18n.t "page.privacy.privacy"
            -#  %li.p-b-10
            -#    %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
            -#      FAQs
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.get_in_touch"
            %p.stext-107.cl7.size-201
              = I18n.t "page.footer.get_in_touch_content"
            .p-t-27
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "http://www.facebook.com/lmcation"}
                %i.fa.fa-facebook
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "http://www.instagram.com/lmcation"}
                %i.fa.fa-instagram
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              = I18n.t "page.footer.newsletter"
            %form
            = form_for(Subscriber.new) do |f|
              .wrap-input1.w-full.p-b-4
                = f.text_field :email, required: true, autofocus: true, class: 'input1 bg-none plh1 stext-107 cl7', placeholder: "email@example.com", type: "text"
                .focus-input1.trans-04
              .p-t-18
                = submit_tag I18n.t("page.footer.subscribe"), class: 'flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04'
        .p-t-40
          .flex-c-m.flex-w.p-b-18
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-01.png", title: "icon-pay-01", class: "Sirv", alt:"Payment method"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-02.png", title: "icon-pay-02", class: "Sirv", alt:"Payment method"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-03.png", title: "icon-pay-03", class: "Sirv", alt:"Payment method"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-04.png", title: "icon-pay-04", class: "Sirv", alt:"Payment method"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-05.png", title: "icon-pay-05", class: "Sirv", alt:"Payment method"
          %p.stext-107.cl6.txt-center
            COPYRIGHT © 2020 LMCATION
            %br
    / Back to top
    #myBtn.btn-back-to-top
      %span.symbol-btn-back-to-top
        %i.zmdi.zmdi-chevron-up
    #promotion.modal.fade{:role => "dialog"}
      .modal-dialog
        / Modal content
        .modal-content-desktop
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          = cl_image_tag 'https://lmcation.s3-ap-southeast-1.amazonaws.com/systems/140924607_419908412547009_4057087241630477945_n.webp', class: 'img-responsive Sirv', loading: "lazy", alt: "lmcation discount"
        .modal-content-mobile
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          = cl_image_tag 'https://lmcation.s3-ap-southeast-1.amazonaws.com/systems/ND.webp', class: 'img-responsive Sirv', loading: "lazy", alt: "lmcation discount"
    / Global site tag (gtag.js) - Google Analytics
    %script{src:"https://scripts.sirv.com/sirv.js", defer: :true}
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-164577749-1", defer: :true}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", defer: :true}
    %script{:defer => "defer", :src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"}
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=584519498852272&ev=PageView\n&noscript=1", :width => "1"}/
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164577749-1');