!!!
%html
  %head
    %title Lmcation
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:defer => "defer", :src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    = yield :header
  %body{data: {turbolinks: 'false'}}
    / Header
    %header
      / Header desktop
      .container-menu-desktop
        / Topbar
        .top-bar
          .content-topbar.flex-sb-m.h-full.container
            .left-top-bar
            .right-top-bar.flex-w.h-full
              = link_to 'Join Us', store_path, class: "flex-c-m trans-04 p-lr-25"
              = link_to 'Help & FAQs', store_path, class: "flex-c-m trans-04 p-lr-25"
              %a.flex-c-m.trans-04.p-lr-25{:href => "#"}
                My Account
              %a.flex-c-m.trans-04.p-lr-25{:href => "#"}
                EN
              %a.flex-c-m.trans-04.p-lr-25{:href => "#"}
                USD
        .wrap-menu-desktop
          %nav.limiter-menu-desktop.container
            / Menu desktop
            .menu-desktop
              %ul.main-menu
                %li.active-menu
                  = link_to 'Home', store_path
                %li
                  = link_to 'Shop', products_path
                  %ul.sub-menu
                    %li
                      = link_to 'Active Wear', products_path
                    %li
                      = link_to 'Swim Separates', products_path
                    %li
                      = link_to 'Lingeries', products_path
                %li
                  = link_to 'LM Foundation', blogs_path
                %li
                  = link_to 'About Us', store_about_path
                %li
                  = link_to 'Find Us', store_find_us_path
            / Logo desktop
            = link_to store_path, class: 'logo' do
              = image_tag 'main-logo.jpg'
            / Icon header
            .wrap-icon-header.flex-w.flex-r-m
              .icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11
                %input.stext-111.cl2.plh3.size-116.search-string{:name => "search", :placeholder => "Keywords", :type => "text"}/
              .icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11
                %i.zmdi.zmdi-search
              .icon-cart
                = render 'carts/icon', total_products: @cart.try(:total_products) || 0
              %a.dis-block.icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11.icon-header-noti{"data-notify" => "0", :href => "#"}
                %i.zmdi.zmdi-favorite-outline
      / Header Mobile
      .wrap-header-mobile
        / Logo moblie
        .logo-mobile
          = link_to store_path do
            = image_tag 'icons/mobile-logo.jpg'
        / Icon header
        .wrap-icon-header.flex-w.flex-r-m.m-r-15
          .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.js-show-modal-search
            %i.zmdi.zmdi-search
          .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti.js-show-cart{"data-notify" => "2"}
            %i.zmdi.zmdi-shopping-cart
          %a.dis-block.icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti{"data-notify" => "0", :href => "#"}
            %i.zmdi.zmdi-favorite-outline
        / Button show menu
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          %span.hamburger-box
            %span.hamburger-inner
      / Menu Mobile
      .menu-mobile
        %ul.topbar-mobile
          %li
            .left-top-bar
              Free shipping for standard order over $100
          %li
            .right-top-bar.flex-w.h-full
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                Join Us
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                Help & FAQs
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                My Account
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                EN
              %a.flex-c-m.p-lr-10.trans-04{:href => "#"}
                USD
        %ul.main-menu-m
          %li
            = link_to 'Home', store_path
            %span.arrow-main-menu-m
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
          %li
            = link_to 'Shop', products_path
            %ul.sub-menu-m
              %li
                = link_to 'Active Wear', products_path
              %li
                = link_to 'Swim Separates', products_path
              %li
                = link_to 'Lingeries', products_path
          %li
            = link_to 'LM Foundation', blogs_path
          %li
            = link_to 'About', store_about_path
          %li
            = link_to 'Find Us', store_find_us_path
    / Cart
    .wrap-header-cart.js-panel-cart.cart-render
      = render 'carts/cart'
    = yield
    / Footer
    %footer.bg3.p-t-75.p-b-32
      .container
        .row
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              Categories
            %ul
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Active Wear
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Swim Separates
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Lingeries
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              Help
            %ul
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Track Order
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Returns
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  Shipping
              %li.p-b-10
                %a.stext-107.cl7.hov-cl1.trans-04{:href => "#"}
                  FAQs
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              GET IN TOUCH
            %p.stext-107.cl7.size-201
              Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
            .p-t-27
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-facebook
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-instagram
              %a.fs-18.cl7.hov-cl1.trans-04.m-r-16{:href => "#"}
                %i.fa.fa-pinterest-p
          .col-sm-6.col-lg-3.p-b-50
            %h4.stext-301.cl0.p-b-30
              Newsletter
            %form
              .wrap-input1.w-full.p-b-4
                %input.input1.bg-none.plh1.stext-107.cl7{:name => "email", :placeholder => "email@example.com", :type => "text"}/
                .focus-input1.trans-04
              .p-t-18
                %button.flex-c-m.stext-101.cl0.size-103.bg1.bor1.hov-btn2.p-lr-15.trans-04
                  Subscribe
        .p-t-40
          .flex-c-m.flex-w.p-b-18
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-01.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-02.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-03.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-04.png"
            %a.m-all-1{:href => "#"}
              = image_tag "icons/icon-pay-05.png"
          %p.stext-107.cl6.txt-center
            / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            Copyright © 2019 All rights reserved | This template is made with
            %i.fa.fa-heart-o{"aria-hidden" => "true"}
            by
            %a{:href => "https://colorlib.com", :target => "_blank"} Colorlib
            / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    / Back to top
    #myBtn.btn-back-to-top
      %span.symbol-btn-back-to-top
        %i.zmdi.zmdi-chevron-up