.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.banner-bg
  = cl_image_tag 'https://lmcation.s3-ap-southeast-1.amazonaws.com/systems/lmcation+banner+6.jpg'
  %h1.ltext-105.cl0.txt-center.title
    = I18n.t "page.tracking.info"
%section.bg0.p-t-104.p-b-116.session-top
  .container
    .alert
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}" unless key == 'pixel'
    .policy.partner
      .col-md-12.col-xl-10.p-b-30.m-lr-auto.policy-box
        %h4.ltext-107.txt-center
          = I18n.t "page.tracking.search"
        %br
        = form_tag(trackings_path, method: "get") do
          .bor8.m-b-20.how-pos4-parent
            = text_field_tag :tracking, '', autofocus: true, class: 'stext-111 cl2 plh3 size-116 p-l-62 p-r-30', :name => "tracking", :placeholder => I18n.t("page.tracking.order_id"), :type => "text"
          %center
            .col-sm-6
              = submit_tag I18n.t("page.tracking.search"), class: 'flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer'
        %br
        - if @order
          .accordion
            .card-body
              .order-number
                = "#{I18n.t("page.tracking.order_tracking_number")}: #{@order.tracking}"
              .order-number
                = "#{I18n.t("page.tracking.order_status")}: #{@order.status}"
              .order-number
                = "#{I18n.t("page.cart.cart_total")}: #{number_with_delimiter(@order.total_price.to_i, :delimiter => '.')} vnd"
              - if @order.voucher_code.present?
                .order-number
                  = "#{I18n.t("page.cart.voucher")}: #{@order.voucher_code}"
                .order-number
                  = "#{I18n.t("page.cart.grand_total")}: #{number_with_delimiter(@order.grand_total.to_i, :delimiter => '.')} vnd"
              %br
              .wrap-table-shopping-cart
                %table.table-shopping-cart
                  %tr.table_head
                    %th.column-1= I18n.t("page.cart.product")
                    %th.column-2
                    %th.column-3= I18n.t("page.cart.price")
                    %th.column-4= I18n.t("page.cart.quantity")
                    %th.column-5= I18n.t("page.cart.total")
                  - @order.line_items.includes(:stock).each do |line_item|
                    %tr.table_row
                      %td.column-1
                        .how-itemcart1
                          = cl_image_tag line_item.stock.product.product_images.first.url ? line_item.stock.product.product_images.first.url : line_item.stock.product.product_images.first.pimage.url
                      %td.column-2
                        = link_to product_path(line_item.stock.product.slug), :"data-no-turbolink" => 'false', class: "stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" do
                          = line_item.stock.product.title
                      %td.column-3
                        = "#{number_with_delimiter(line_item.stock.product.price.to_i, :delimiter => '.')} vnd"
                      %td.column-4
                        = line_item.quantity
                      %td.column-5
                        = "#{number_with_delimiter(line_item.total_price.to_i, :delimiter => '.')} vnd"
        - else
          .accordion
            .card-body
              .order-numbersearch_empty
                = I18n.t("page.tracking.search_empty")